<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Sasquatch Websighting</title>
</head>
<body>
    <div>
        <h1>Welcome {{session['first_name']}}!</h1>
        <a class="btn btn-info" href="/new">Report a Sighting</a>
        <a class="btn btn-info" href="/logout">Logout</a>
    </div>
    <table class="table table-hover bg-light">
        <h2>Reported Sightings</h2>
        <tbody>
            {% for sight in sights %}
            <tr class="flex justify-content-between">
                <div>
                <td>{{ sight.name }} - {{ sight.date }}</td>
                <td>Reported by: {{ sight.user.first_name }}</td>
                {% if user.id != sight.users_id %}
                <td><a class="btn btn-warning justify-center align-items-center" href="/sightings/{{sight.id}}/show">View</a></td>
                {% endif %}
                {% if user.id == sight.users_id %}
                <td>
                    <a class="btn btn-success" href="/sightings/{{sight.id}}/edit">Edit</a>
                    <a href="/delete/{{sight.id}}" class="btn btn-danger">Delete</a>
                </td>
                {% endif %}
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
